<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Nivel 1 - Emprendedores TRENER </h1>
        <div class="menu-spacer" >
            <a [routerLink]="'/home'">
                <i class="material-icons" orange600>table_view</i>
            </a>
            
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">Para ver facilmente la lista de emprendimientos de Nivel 1</span>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
